<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth_app/login.css' %}">
</head>
<body>
    <div class="wrapper">
        <img id="login-image" src="{% static 'auth_app/t2.jpg' %}" alt="Login Background">
        <div class="login">
            <h2>Login</h2>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
